#forge-compendium-browser {
    min-width: 900px;
    min-height: 580px;
}

#forge-compendium-browser .window-content {
    padding: 0px;
}

.forge-compendium-pack {
    display: none;
}

.forge-compendium-scene {
    position: relative;
    width: 100%;
    height: 100%;
}

.forge-compendium-scene .compendium-scene {
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.forge-compendium-scene .background {
    background-size: cover;
    filter: blur(5px);
    opacity: 0.5;
    z-index: 100;
}

.forge-compendium-scene .foreground {
    background-size: contain;
    height: calc(100% - 40px);
    border: 0px;
    z-index: 200;
}

.forge-compendium-scene .forge-compendium-scene-stat {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid #000;
    border-radius: 8px;
    width: 100%;
    color: #ffffff;
    padding: 6px 0px;
    font-size: 18px;
    z-index: 300;
}

.forge-compendium-scene .forge-compendium-scene-stat ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.forge-compendium-scene .forge-compendium-scene-stat ul li {
    flex: 0 0 75px;
    margin: 0px 8px;
    text-align: left;
}

.package-list .package .tag.compendium-library {
    background: #62c462;
}

#forge-compendium-browser-import .progress-bar {
    width: 100%;
    position: relative;
    height: 20px;
    border: 1px solid #000;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 10px;
}

#forge-compendium-browser-import .progress-bar .bar {
    position: absolute;
    height: 100%;
    width: 0px;
    top: 0px;
    left: 0px;
    background-color: royalblue;
    border-right: 1px solid darkblue;
    border-radius: 4px;
    overflow: hidden;
}

#forge-compendium-browser-import .percent-msg {
    width: 193px;
    position: absolute;
    float: left;
    top: 0px;
    left: 0px;
    text-align: center;
}

#forge-compendium-browser-import .bar .percent-msg {
    color: #FFF;
}

#forge-compendium-browser-import .start-import {
    background: rgba(0, 0, 0, 0.05);
    border: 2px groove var(--color-border-light-secondary);
    margin: 0;
}

#forge-compendium-browser-import ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

#forge-compendium-browser-import .message {
    font-style: italic;
}