<div class="forge-compendium-scene">
    <div class="background compendium-scene" style="background-image:url('{{img}}')"></div>
    <div class= "foreground compendium-scene" style="background-image:url('{{img}}')"></div>
    {{#if stats}}
    <div class="forge-compendium-scene-stat">
        <ul class="flexrow">
            {{#each stats}}
            <li class="flexrow" title="{{this.name}}"><i style="flex: 0 0 25px" class="{{this.icon}}"></i><span>{{this.value}}</span></li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
</div>